<% if(wrongCredentials) { %>
    <h3 class="text-center color-red">Nem megfelelő felhasználónév/jelszó</h3>
<% } %>

<div class="container">
    <form method="post" action="/login" class="box">
        <h3>Bejelentkezés</h3>
        <input type="text">

        <h4>Email</h4>
        <input style="width: 100%;" name="email" type="text">

        <h4>Jelszó</h4>
        <input style="width: 100%;" name="pass" type="password">

        <button>Bejelentkezés</button>
    </form>
</div>