<div class="container">
    <h1>Hajók</h1>

    <div class="ships-grid">
        <% ships.forEach((s)=> { %>
            <div class="ship-data">
                <h4><%=s.nev%></h4>
            </div>
        <% })%>
    </div>
</div>